<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        
        <activity 
            android:name=".ZipPickerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- No android:label so title bar just shows the path via setTitle() -->
        <activity 
            android:name=".ZipSignerActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="kellinwood.zipsigner.action.SIGN_FILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".customkeys.ManageKeysActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="kellinwood.zipsigner.action.MANAGE_KEYS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- File browser: no label, title set dynamically to current path -->
        <activity 
            android:name=".filebrowser.AndroidFileBrowser"
            android:label=""
            android:exported="true">
            <intent-filter>
                <action android:name="kellinwood.zipsigner.action.BROWSE_FILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".customkeys.ManageKeysHelpActivity"
            android:label="@string/app_name"
            android:exported="false" />
        
        <activity 
            android:name=".customkeys.CreateKeystoreIntroActivity"
            android:label="@string/app_name"
            android:exported="false" />
        
        <activity 
            android:name=".customkeys.CreateKeystoreFormActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        
        <activity 
            android:name=".customkeys.CreateKeyFormActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        
        <activity 
            android:name=".customkeys.CreateCertFormActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
        
        <activity 
            android:name=".customkeys.KeysPropertiesActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />
            
    </application>
    
</manifest>
